// RESET

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// /RESET

// Colors
$dark-background: hsl(226, 43%, 10%);
$card-background: hsl(236, 44%, 20%);
$work-background: hsl(15, 100%, 70%);
$play-background: hsl(195, 75%, 62%);
$study-background: hsl(348, 100%, 68%);
$social-background: hsl(263, 63%, 51%);
$exercise-background: hsl(145, 58%, 55%);
$selfcare-background: hsl(43, 85%, 65%);

$user-card: hsl(246, 80%, 60%);

$light-user-font: hsl(244, 79%, 89%);
$light-card-font: hsl(180, 100%, 99%);
$dark-user-font: hsl(246, 94%, 80%);
$dark-card-font: hsl(238, 23%, 51%);
$dark-stats-font: hsl(238, 30%, 68%);

// Size

$small-font-size: 1rem;
$default-font-size: 18px;
$medium-font-size: clamp(1.5rem, 1.1466rem + 1.5038vw, 2.5rem);
$large-font-size: clamp(2.5rem, 2.1479rem + 1.5023vw, 3.5rem);
$font-weight3: 300;
$font-weight4: 400;
$font-weight5: 500;

$grid-cell-height: clamp(12.099625rem, 10.9377rem + 4.9575vw, 15.3994375rem);
$grid-cell-width: 16rem;
$grid-gap: 1.8rem;

$laptop-col-grid: $grid-gap * 3+ ($grid-cell-width * 4);
$tablet-col-grid: $grid-gap * 3+ ($grid-cell-width * 3);
$mobile-col-grid: $grid-gap + ($grid-cell-width * 2);

body {
  font-family: "Rubik", sans-serif;
  background-color: $dark-background;
  font-size: $default-font-size;
  font-weight: $font-weight4;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  @media (min-width: $laptop-col-grid) {
    height: 100vh;
  }
}

.time-dash {
  width: 100%;
  height: 100%;
  color: $light-card-font;
  display: grid;
  grid-auto-rows: $grid-cell-height;
  place-content: center;
  gap: $grid-gap;

  & > section[class*="time-dash_"] {
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    & > div[class*="__background"] {
      flex: 2;
      border-radius: 0.8em 0.8em 0 0;
    }

    & > div[class*="__stats"] {
      flex: 8;
      background-color: $card-background;
      border-radius: 0.7em;
      display: flex;
      flex-direction: column;

      & > .stats__category {
        flex: 2;
        display: flex;
        & > ul {
          flex: 1;
          display: flex;
          flex-direction: row;
          align-items: center;
          & > li:first-child {
            flex: 3;
            // font-weight: $font-weight4;
          }
          & > li:last-child {
            flex: 2;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      & > .stats__time {
        flex: 3;
        display: flex;
        flex-direction: column;
        & > span {
          font-size: $small-font-size;
          color: $dark-stats-font;
          flex: 1;
          display: flex;
          align-items: center;
        }
      }

      .stats__time__hrs {
        font-weight: $font-weight3;
        font-size: $large-font-size;
      }
    }

    & > * {
      padding: 0 0 0 2rem;
    }
  }
  &__work {
    background-color: $work-background;
    background-image: url(../images/icon-work.svg);
    background-position: 90% -7%;
  }
  &__play {
    background-color: $play-background;
    background-image: url(../images/icon-play.svg);
    background-position: 90% -1%;
  }
  &__study {
    background-color: $study-background;
    background-image: url(../images/icon-study.svg);
    background-position: 90% -1%;
  }
  &__exercise {
    background-color: $exercise-background;
    background-image: url(../images/icon-exercise.svg);
    background-position: 90% -1%;
  }
  &__social {
    background-color: $social-background;
    background-image: url(../images/icon-social.svg);
    background-position: 92% 2%;
  }
  &__self-care {
    background-color: $selfcare-background;
    background-image: url(../images/icon-self-care.svg);
    background-position: 92% -5%;
  }
  &__user {
    .user__usrdata {
      background-color: $user-card;
      border-radius: 0.6em;
      flex: 7;
      display: flex;
      flex-wrap: wrap;
      column-gap: 1.5rem;
      &-propic {
        align-self: center;
        border-radius: 50%;
        // flex: 4;
        & > img {
          border-radius: 50%;
          border: 3px solid $light-card-font;
          width: clamp(4.574375rem, 4.4245rem + 0.6394vw, 5rem);
          height: auto;
        }
      }
      &-welcome {
        padding-bottom: 0.7rem;
        & > span {
          color: $dark-user-font;
          font-size: $small-font-size;
          line-height: 1.9rem;
        }
        & > h1 {
          margin: 0;
          font-weight: $font-weight3;
          color: $light-user-font;
          font-size: $medium-font-size;
          line-height: 2.9rem;
        }
      }
    }
    .user__usrstats {
      flex: 3;
      display: flex;
      & > ul {
        flex-grow: 1;
        padding: 1rem 0 1rem 0;
        display: flex;
        flex-wrap: wrap;
        & > li {
          flex: 1 0 10vw;
          display: flex;
          align-items: center;
          justify-content: space-between;
          & > button {
            background-color: transparent;
            border-width: 0;
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            line-height: inherit;
            padding: 0;
            cursor: pointer;
            color: $dark-card-font;
          }
        }
        .active {
          color: $light-user-font;
        }
      }
    }
  }

  @media (min-width: $laptop-col-grid) {
    grid-template-columns: repeat(4, $grid-cell-width);
  }
  @media (max-width: $laptop-col-grid) and (min-width: $tablet-col-grid) {
    grid-template-columns: repeat(auto-fit, $grid-cell-width);
    .time-dash__social {
      grid-column: 3 / 2;
    }
  }
  @media (min-width: $tablet-col-grid) {
    .time-dash__user {
      grid-row: span 2;
    }
  }
  @media (max-width: $tablet-col-grid) and (min-width: $mobile-col-grid) {
    grid-template-columns: repeat(2, $grid-cell-width);
    .time-dash__user {
      grid-column: span 2;
    }
    .user__usrdata-welcome {
      align-self: center;
    }
  }
  @media (max-width: $mobile-col-grid) {
    grid-template-columns: repeat(auto-fit, 89%);
    .user__usrdata-welcome {
      align-self: center;
    }
  }
  .card-background {
    background-color: $card-background;
  }
}
