/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #0f1424;
  font-size: 18px;
  font-weight: 400;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
}
@media (min-width: 69.4rem) {
  .container {
    height: 100vh;
  }
}

.time-dash {
  width: 100%;
  height: 100%;
  color: #faffff;
  display: grid;
  grid-auto-rows: clamp(12.099625rem, 10.9377rem + 4.9575vw, 15.3994375rem);
  place-content: center;
  gap: 1.8rem;
}
.time-dash > section[class*=time-dash_] {
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}
.time-dash > section[class*=time-dash_] > div[class*=__background] {
  flex: 2;
  border-radius: 0.8em 0.8em 0 0;
}
.time-dash > section[class*=time-dash_] > div[class*=__stats] {
  flex: 8;
  background-color: #1d2049;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
}
.time-dash > section[class*=time-dash_] > div[class*=__stats] > .stats__category {
  flex: 2;
  display: flex;
}
.time-dash > section[class*=time-dash_] > div[class*=__stats] > .stats__category > ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.time-dash > section[class*=time-dash_] > div[class*=__stats] > .stats__category > ul > li:first-child {
  flex: 3;
}
.time-dash > section[class*=time-dash_] > div[class*=__stats] > .stats__category > ul > li:last-child {
  flex: 2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time-dash > section[class*=time-dash_] > div[class*=__stats] > .stats__time {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.time-dash > section[class*=time-dash_] > div[class*=__stats] > .stats__time > span {
  font-size: 1rem;
  color: #9597c6;
  flex: 1;
  display: flex;
  align-items: center;
}
.time-dash > section[class*=time-dash_] > div[class*=__stats] .stats__time__hrs {
  font-weight: 300;
  font-size: clamp(2.5rem, 2.1479rem + 1.5023vw, 3.5rem);
}
.time-dash > section[class*=time-dash_] > * {
  padding: 0 0 0 2rem;
}
.time-dash__work {
  background-color: #ff8c66;
  background-image: url(../images/icon-work.svg);
  background-position: 90% -7%;
}
.time-dash__play {
  background-color: #55c2e7;
  background-image: url(../images/icon-play.svg);
  background-position: 90% -1%;
}
.time-dash__study {
  background-color: #ff5c7c;
  background-image: url(../images/icon-study.svg);
  background-position: 90% -1%;
}
.time-dash__exercise {
  background-color: #4acf81;
  background-image: url(../images/icon-exercise.svg);
  background-position: 90% -1%;
}
.time-dash__social {
  background-color: #7033d1;
  background-image: url(../images/icon-social.svg);
  background-position: 92% 2%;
}
.time-dash__self-care {
  background-color: #f2c75a;
  background-image: url(../images/icon-self-care.svg);
  background-position: 92% -5%;
}
.time-dash__user .user__usrdata {
  background-color: #5847eb;
  border-radius: 0.6em;
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.time-dash__user .user__usrdata-propic {
  align-self: center;
}
.time-dash__user .user__usrdata-propic > img {
  border-radius: 50%;
  outline: #faffff solid 3px;
  width: clamp(4.574375rem, 4.4245rem + 0.6394vw, 5rem);
  height: auto;
}
.time-dash__user .user__usrdata-welcome {
  padding-bottom: 0.7rem;
}
.time-dash__user .user__usrdata-welcome > span {
  color: #a69cfc;
  font-size: 1rem;
  line-height: 1.9rem;
}
.time-dash__user .user__usrdata-welcome > h1 {
  margin: 0;
  font-weight: 300;
  color: #d0cdf9;
  font-size: clamp(1.5rem, 1.1466rem + 1.5038vw, 2.5rem);
  line-height: 2.9rem;
}
.time-dash__user .user__usrstats {
  flex: 3;
  display: flex;
}
.time-dash__user .user__usrstats > ul {
  flex-grow: 1;
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-wrap: wrap;
}
.time-dash__user .user__usrstats > ul > li {
  flex: 1 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time-dash__user .user__usrstats > ul > li > button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
  color: #65679f;
}
.time-dash__user .user__usrstats > ul .active {
  color: #d0cdf9;
}
@media (min-width: 69.4rem) {
  .time-dash {
    grid-template-columns: repeat(4, 16rem);
  }
}
@media (max-width: 69.4rem) and (min-width: 53.4rem) {
  .time-dash {
    grid-template-columns: repeat(auto-fit, 16rem);
  }
  .time-dash .time-dash__social {
    grid-column: 3/2;
  }
}
@media (min-width: 53.4rem) {
  .time-dash .time-dash__user {
    grid-row: span 2;
  }
}
@media (max-width: 53.4rem) and (min-width: 33.8rem) {
  .time-dash {
    grid-template-columns: repeat(2, 16rem);
  }
  .time-dash .time-dash__user {
    grid-column: span 2;
  }
  .time-dash .user__usrdata-welcome {
    align-self: center;
  }
}
@media (max-width: 33.8rem) {
  .time-dash {
    grid-template-columns: repeat(auto-fit, 89%);
  }
  .time-dash .user__usrdata-welcome {
    align-self: center;
  }
}
.time-dash .card-background {
  background-color: #1d2049;
}/*# sourceMappingURL=style.css.map */